// Small mixin to avoid having to write duplicate styles for each declaration block
@mixin full-width-style-wrapper($indentation: 0) {

  .pfe-documentation--next-to-sidebar &,
  :host(.pfe-documentation--next-to-sidebar) & {
    @include breakpoint(papa) {
      @include breakpoint(papa) {
        width: calc(70vw - #{144px + $indentation});
        max-width: (1400px - $indentation);
      }
    }
  }

  @include breakpoint(papa) {
    // 144px Measured from the white space between the window border
    width: calc(100vw - #{144px + $indentation});
    max-width: (1400px - $indentation);
  }
}

.rhdocs %full-width-elements {
  @include full-width-style-wrapper;
}

// Reduce the width of indented full-width elements by their indent
.rhdocs li %full-width-elements {
  @include full-width-style-wrapper(24px);
}

// Reduce the width of indented full-width elements by their indent
.rhdocs li li %full-width-elements {
  @include full-width-style-wrapper(48px);
}

// Reduce the width of indented full-width elements by their indent
.rhdocs li li li %full-width-elements {
  @include full-width-style-wrapper(72px);
}

// Super indented full width elements shouldn't get this style
.rhdocs li li li li %full-width-elements,
// Full width elements nested in another should not re-assert the full-width style
.rhdocs[class][class] %full-width-elements %full-width-elements {
  width: auto;
  max-width: 100%;
}

.admonitionblock,
.table-wrapper,
table.wide,
pre,
.related-topic-content__wrapper,
.codeblock__wrapper,
._additional-resources,
rh-table {
  @extend %full-width-elements;
}

.codeblock__wrapper pre {
  width: auto;
}
