@charset "UTF-8";
/* stylelint-disable */
/* stylelint-enable */
@-webkit-keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.rhdocs,
.pvof-doc__wrapper {
  font-size: 1.125rem;
  line-height: 1.6667;
  font-family: RedHatText, "Red Hat Text", "Helvetica Neue", Arial, sans-serif;
  color: #252525;
  -o-tab-size: 4;
     tab-size: 4;
}
.rhdocs *,
.rhdocs *::before,
.rhdocs *::after,
.pvof-doc__wrapper *,
.pvof-doc__wrapper *::before,
.pvof-doc__wrapper *::after {
  box-sizing: border-box;
}
.rhdocs img,
.rhdocs object,
.rhdocs svg,
.pvof-doc__wrapper img,
.pvof-doc__wrapper object,
.pvof-doc__wrapper svg {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}
.rhdocs hr,
.pvof-doc__wrapper hr {
  clear: both;
  height: 0;
  margin: 1rem 0;
  border: 0;
  border-top: 0.0625rem solid #d2d2d2;
}
.rhdocs a,
.pvof-doc__wrapper a {
  color: #06c;
  text-decoration: none;
}
.rhdocs a:hover, .rhdocs a:focus,
.pvof-doc__wrapper a:hover,
.pvof-doc__wrapper a:focus {
  color: #003366;
  text-decoration: underline;
}
.rhdocs p,
.pvof-doc__wrapper p {
  margin: 1.49963rem 0;
}
.rhdocs li > p,
.pvof-doc__wrapper li > p {
  margin: 0;
}
.rhdocs h1,
.rhdocs h2,
.rhdocs h3,
.rhdocs h4,
.rhdocs h5,
.rhdocs h6,
.pvof-doc__wrapper h1,
.pvof-doc__wrapper h2,
.pvof-doc__wrapper h3,
.pvof-doc__wrapper h4,
.pvof-doc__wrapper h5,
.pvof-doc__wrapper h6 {
  margin: 0 0 0.625rem;
  line-height: 1.3333;
  font-family: RedHatDisplay, "Red Hat Display", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}
.rhdocs h1,
.pvof-doc__wrapper h1 {
  margin: 2rem 0;
  font-size: 2.25rem;
}
.rhdocs h2,
.pvof-doc__wrapper h2 {
  margin: 2rem 0;
  font-size: 1.625rem;
}
.rhdocs h3,
.pvof-doc__wrapper h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.rhdocs h4,
.pvof-doc__wrapper h4 {
  font-size: 1.25rem;
}
.rhdocs h5,
.pvof-doc__wrapper h5 {
  font-size: 1.25rem;
  font-weight: 400;
}
.rhdocs h6,
.pvof-doc__wrapper h6 {
  font-size: 1.125rem;
  line-height: 1.6667;
  font-weight: 500;
}
.rhdocs .heading,
.pvof-doc__wrapper .heading {
  margin: 1rem 0 0;
  font-size: 1rem;
  line-height: 1.6667;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
}
.rhdocs .heading + p,
.rhdocs .heading + .content > *:first-child,
.pvof-doc__wrapper .heading + p,
.pvof-doc__wrapper .heading + .content > *:first-child {
  margin-top: 0;
}
.rhdocs ul,
.rhdocs ol,
.pvof-doc__wrapper ul,
.pvof-doc__wrapper ol {
  margin: 1rem 0;
  padding: 0 0 0 1.5rem;
}
.rhdocs li,
.pvof-doc__wrapper li {
  margin: 0;
  padding: 0;
}
.rhdocs li > p,
.pvof-doc__wrapper li > p {
  margin: 0.5rem 0;
}
.rhdocs li > ul,
.rhdocs li > ol,
.pvof-doc__wrapper li > ul,
.pvof-doc__wrapper li > ol {
  margin: 0;
}
.rhdocs dl,
.pvof-doc__wrapper dl {
  margin: 1rem 0;
}
.rhdocs dl dt,
.pvof-doc__wrapper dl dt {
  margin: 0.5rem 0;
  font-weight: 600;
}
.rhdocs dl dd,
.pvof-doc__wrapper dl dd {
  margin: 0.5rem 0 0.5rem 1rem;
}
.rhdocs dl dd > p,
.pvof-doc__wrapper dl dd > p {
  margin: 0.5rem 0;
}
.rhdocs .table-wrapper,
.pvof-doc__wrapper .table-wrapper {
  overflow-x: auto;
}
.rhdocs table,
.pvof-doc__wrapper table {
  margin: 2rem 0;
  table-layout: fixed;
  border: 0.0625rem solid #d2d2d2;
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.6667;
}
.rhdocs table caption,
.pvof-doc__wrapper table caption {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #585858;
  text-align: left;
}
.rhdocs table td,
.rhdocs table th,
.pvof-doc__wrapper table td,
.pvof-doc__wrapper table th {
  padding: 0.5em 1rem;
  border: 0.0625rem solid #d2d2d2;
}
.rhdocs table td.halign-left,
.rhdocs table th.halign-left,
.pvof-doc__wrapper table td.halign-left,
.pvof-doc__wrapper table th.halign-left {
  text-align: left;
}
.rhdocs table td.halign-center,
.rhdocs table th.halign-center,
.pvof-doc__wrapper table td.halign-center,
.pvof-doc__wrapper table th.halign-center {
  text-align: center;
}
.rhdocs table td.halign-right,
.rhdocs table th.halign-right,
.pvof-doc__wrapper table td.halign-right,
.pvof-doc__wrapper table th.halign-right {
  text-align: right;
}
.rhdocs table td.valign-top,
.rhdocs table th.valign-top,
.pvof-doc__wrapper table td.valign-top,
.pvof-doc__wrapper table th.valign-top {
  vertical-align: top;
}
.rhdocs table td.valign-middle,
.rhdocs table th.valign-middle,
.pvof-doc__wrapper table td.valign-middle,
.pvof-doc__wrapper table th.valign-middle {
  vertical-align: middle;
}
.rhdocs table td.valign-bottom,
.rhdocs table th.valign-bottom,
.pvof-doc__wrapper table td.valign-bottom,
.pvof-doc__wrapper table th.valign-bottom {
  vertical-align: bottom;
}
.rhdocs table thead td,
.rhdocs table thead th,
.pvof-doc__wrapper table thead td,
.pvof-doc__wrapper table thead th {
  font-weight: 600;
  background: #f5f5f5;
}
.rhdocs pre,
.pvof-doc__wrapper pre {
  font-size: 0.875rem;
  line-height: 1.6667;
  font-family: RedHatMono, "Red Hat Mono", "Consolas", monospace;
  color: #151515;
  white-space: pre;
  word-break: normal;
  background: #f5f5f5;
  overflow-wrap: normal;
}
.rhdocs pre.nowrap,
.pvof-doc__wrapper pre.nowrap {
  overflow: auto;
  white-space: pre;
  word-break: normal;
  overflow-wrap: normal;
}
.rhdocs .codeblock__wrapper pre,
.pvof-doc__wrapper .codeblock__wrapper pre {
  background: transparent;
}
.rhdocs code,
.pvof-doc__wrapper code {
  display: inline-flex;
  align-items: baseline;
  padding: 0.25em 0.5em;
  gap: 0.6429em;
  font-size: 0.875rem;
  line-height: 1.6667;
  font-family: RedHatMono, "Red Hat Mono", "Consolas", monospace;
  color: #004368;
  background: #def3ff;
}
.rhdocs .admonitionblock code,
.rhdocs .admonition code,
.pvof-doc__wrapper .admonitionblock code,
.pvof-doc__wrapper .admonition code {
  color: inherit;
  background: #fff;
}
.rhdocs[class] pre code,
.pvof-doc__wrapper[class] pre code {
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  background: inherit;
}
.rhdocs kbd,
.rhdocs .keycap,
.pvof-doc__wrapper kbd,
.pvof-doc__wrapper .keycap {
  margin: 0 0.25rem;
  padding: 0.125rem 0.375rem;
  border-radius: 0.1875rem;
  font-size: 90%;
  font-family: RedHatMono, "Red Hat Mono", "Consolas", monospace;
  font-weight: 400;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #ddd, #eee, #fff);
  box-shadow: 0 -0.0625rem 0 0 #fff, 0 0.0625rem 0 0.1875rem #aaa;
}
.rhdocs .keycap strong,
.pvof-doc__wrapper .keycap strong {
  font-weight: inherit;
}
.rhdocs kbd.keyseq,
.pvof-doc__wrapper kbd.keyseq {
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
.rhdocs kbd.keyseq kbd,
.pvof-doc__wrapper kbd.keyseq kbd {
  display: inline-block;
  margin: 0 0.375rem;
}
.rhdocs kbd.keyseq kbd:first-child,
.pvof-doc__wrapper kbd.keyseq kbd:first-child {
  margin-left: 0;
}
.rhdocs b.button,
.pvof-doc__wrapper b.button {
  padding: 0.1875rem;
  font-size: 90%;
  font-weight: bold;
}
.rhdocs b.button:before,
.pvof-doc__wrapper b.button:before {
  content: "[";
}
.rhdocs b.button:after,
.pvof-doc__wrapper b.button:after {
  content: "]";
}
.rhdocs summary::-webkit-details-marker,
.pvof-doc__wrapper summary::-webkit-details-marker {
  display: none;
}
.rhdocs summary,
.pvof-doc__wrapper summary {
  position: relative;
  padding: 1em 2em 0.75em 2.1875rem;
  color: #06c;
  cursor: pointer;
}
.rhdocs summary:before,
.pvof-doc__wrapper summary:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 0.6875rem;
  height: 0.6875rem;
  border: 0.25rem solid #151515;
  border-bottom: 0;
  border-left: 0;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform: translateX(0.25rem) translateY(0.125em) rotate(45deg);
          transform: translateX(0.25rem) translateY(0.125em) rotate(45deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.rhdocs summary:focus,
.pvof-doc__wrapper summary:focus {
  outline-color: #73bcf7;
}
.rhdocs details[open] > summary:before,
.pvof-doc__wrapper details[open] > summary:before {
  -webkit-transform: translateY(0.4375rem) translateY(0.125em) rotate(135deg);
          transform: translateY(0.4375rem) translateY(0.125em) rotate(135deg);
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 0.0625rem dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 2.5rem;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 0.0625rem solid #c0c0c0;
  margin: 0 0.125rem;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

._additional-resources[class][class] {
  margin: 2em 0 4em;
  padding: 2rem 2rem 1rem;
  border: 0.0625rem solid #d2d2d2;
  border-radius: 0.1875rem;
  background: #fff;
}
._additional-resources[class][class]:only-child {
  grid-column: 1/-1;
}
._additional-resources[class][class] h1,
._additional-resources[class][class] h2,
._additional-resources[class][class] h3,
._additional-resources[class][class] h4,
._additional-resources[class][class] h5,
._additional-resources[class][class] h6,
._additional-resources[class][class] .heading,
._additional-resources[class][class] p.title,
._additional-resources[class][class] .additional-resources__heading {
  display: block;
  margin: 0 0 0.5rem;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: RedHatDisplay, "Red Hat Display", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
._additional-resources[class][class] ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
.related-topic-content__wrapper ._additional-resources[class][class] ul {
  display: block;
}
._additional-resources[class][class] ul:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}
._additional-resources[class][class] li {
  box-sizing: content-box;
  margin: 0;
  padding: 1rem 1.5rem 1rem 0;
  border-bottom: 0.0625rem solid #d2d2d2;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}
._additional-resources[class][class] li:only-child {
  grid-column: 1/-1;
}
._additional-resources[class][class] li:last-child {
  border: 0;
}
@media (min-width: 1100px) {
  ._additional-resources[class][class] li:last-child {
    border-bottom: 0.0625rem solid #d2d2d2;
  }
}
._additional-resources[class][class] li p:only-child {
  margin: 0;
  padding: 0;
}
._additional-resources[class][class] li a {
  text-decoration: none;
}
._additional-resources[class][class] li a:hover, ._additional-resources[class][class] li a:focus {
  text-decoration: underline;
}

.admonitionblock,
.pvof-doc__wrapper .warning,
.pvof-doc__wrapper .tip,
.pvof-doc__wrapper .important,
.pvof-doc__wrapper .caution,
.pvof-doc__wrapper .note {
  position: relative;
  margin: 2rem 0;
  padding: 0.8888888889em;
  padding-left: 3.3125rem;
  border-left: 0.3333333333em solid #151515;
  font-size: 1rem;
  line-height: 1.5;
  color: #151515;
  background: #f4f4f4;
}
.admonitionblock .title--type,
.admonitionblock .admonition_header,
.pvof-doc__wrapper .warning .title--type,
.pvof-doc__wrapper .warning .admonition_header,
.pvof-doc__wrapper .tip .title--type,
.pvof-doc__wrapper .tip .admonition_header,
.pvof-doc__wrapper .important .title--type,
.pvof-doc__wrapper .important .admonition_header,
.pvof-doc__wrapper .caution .title--type,
.pvof-doc__wrapper .caution .admonition_header,
.pvof-doc__wrapper .note .title--type,
.pvof-doc__wrapper .note .admonition_header {
  font-weight: bold;
}
.admonitionblock .title--type p,
.admonitionblock .admonition_header p,
.pvof-doc__wrapper .warning .title--type p,
.pvof-doc__wrapper .warning .admonition_header p,
.pvof-doc__wrapper .tip .title--type p,
.pvof-doc__wrapper .tip .admonition_header p,
.pvof-doc__wrapper .important .title--type p,
.pvof-doc__wrapper .important .admonition_header p,
.pvof-doc__wrapper .caution .title--type p,
.pvof-doc__wrapper .caution .admonition_header p,
.pvof-doc__wrapper .note .title--type p,
.pvof-doc__wrapper .note .admonition_header p {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.admonitionblock:before, .admonitionblock:after,
.pvof-doc__wrapper .warning:before,
.pvof-doc__wrapper .warning:after,
.pvof-doc__wrapper .tip:before,
.pvof-doc__wrapper .tip:after,
.pvof-doc__wrapper .important:before,
.pvof-doc__wrapper .important:after,
.pvof-doc__wrapper .caution:before,
.pvof-doc__wrapper .caution:after,
.pvof-doc__wrapper .note:before,
.pvof-doc__wrapper .note:after {
  content: "";
  position: absolute;
  display: block;
}
.admonitionblock:before,
.pvof-doc__wrapper .warning:before,
.pvof-doc__wrapper .tip:before,
.pvof-doc__wrapper .important:before,
.pvof-doc__wrapper .caution:before,
.pvof-doc__wrapper .note:before {
  top: 0.8888888889em;
  left: 0.7222222222em;
  width: 1.3333333333em;
  height: 1.3333333333em;
  border-radius: 50%;
  background: #151515;
}
.admonitionblock:after,
.pvof-doc__wrapper .warning:after,
.pvof-doc__wrapper .tip:after,
.pvof-doc__wrapper .important:after,
.pvof-doc__wrapper .caution:after,
.pvof-doc__wrapper .note:after {
  top: 0.8888888889em;
  left: 1.0833333333em;
  width: 0.6111111111em;
  height: 1.3333333333em;
  background: url("images/fa-icons/thumbtack-solid.svg") no-repeat center center;
  background-size: 100% auto;
}
.admonitionblock.note:after,
.pvof-doc__wrapper .warning.note:after,
.pvof-doc__wrapper .tip.note:after,
.pvof-doc__wrapper .important.note:after,
.pvof-doc__wrapper .caution.note:after,
.pvof-doc__wrapper .note.note:after {
  -webkit-transform: translateY(0.0555555556em);
          transform: translateY(0.0555555556em);
}
.admonitionblock.caution,
.pvof-doc__wrapper .warning.caution,
.pvof-doc__wrapper .tip.caution,
.pvof-doc__wrapper .important.caution,
.pvof-doc__wrapper .caution.caution,
.pvof-doc__wrapper .note.caution {
  border-left-color: #df7409;
  color: #8f4c09;
  background: #fff3e7;
}
.admonitionblock.caution:before,
.pvof-doc__wrapper .warning.caution:before,
.pvof-doc__wrapper .tip.caution:before,
.pvof-doc__wrapper .important.caution:before,
.pvof-doc__wrapper .caution.caution:before,
.pvof-doc__wrapper .note.caution:before {
  content: none;
}
.admonitionblock.caution:after,
.pvof-doc__wrapper .warning.caution:after,
.pvof-doc__wrapper .tip.caution:after,
.pvof-doc__wrapper .important.caution:after,
.pvof-doc__wrapper .caution.caution:after,
.pvof-doc__wrapper .note.caution:after {
  top: 0.9444444444em;
  left: 0.7777777778em;
  width: 1.2222222222em;
  background-image: url("images/fa-icons/exclamation-triangle-solid.svg");
}
.admonitionblock.warning,
.pvof-doc__wrapper .warning.warning,
.pvof-doc__wrapper .tip.warning,
.pvof-doc__wrapper .important.warning,
.pvof-doc__wrapper .caution.warning,
.pvof-doc__wrapper .note.warning {
  border-left-color: #f0ab00;
  color: #7d643f;
  background: #fdf7e7;
}
.admonitionblock.warning:before,
.pvof-doc__wrapper .warning.warning:before,
.pvof-doc__wrapper .tip.warning:before,
.pvof-doc__wrapper .important.warning:before,
.pvof-doc__wrapper .caution.warning:before,
.pvof-doc__wrapper .note.warning:before {
  top: 0.8888888889em;
  left: 0.7222222222em;
  width: 1.3333333333em;
  height: 1.3333333333em;
  border-radius: 0.1666666667em;
  background: #f0ab00;
}
.admonitionblock.warning:after,
.pvof-doc__wrapper .warning.warning:after,
.pvof-doc__wrapper .tip.warning:after,
.pvof-doc__wrapper .important.warning:after,
.pvof-doc__wrapper .caution.warning:after,
.pvof-doc__wrapper .note.warning:after {
  left: 1.3888888889em;
  width: 0.5em;
  background-image: url("images/fa-icons/exclamation-solid.svg");
  -webkit-transform: scale(0.5) translateX(-0.25em);
          transform: scale(0.5) translateX(-0.25em);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.admonitionblock.important,
.pvof-doc__wrapper .warning.important,
.pvof-doc__wrapper .tip.important,
.pvof-doc__wrapper .important.important,
.pvof-doc__wrapper .caution.important,
.pvof-doc__wrapper .note.important {
  border-left-color: #c9190b;
  color: #7d1007;
  background: #faeae8;
}
.admonitionblock.important:before,
.pvof-doc__wrapper .warning.important:before,
.pvof-doc__wrapper .tip.important:before,
.pvof-doc__wrapper .important.important:before,
.pvof-doc__wrapper .caution.important:before,
.pvof-doc__wrapper .note.important:before {
  content: none;
}
.admonitionblock.important:after,
.pvof-doc__wrapper .warning.important:after,
.pvof-doc__wrapper .tip.important:after,
.pvof-doc__wrapper .important.important:after,
.pvof-doc__wrapper .caution.important:after,
.pvof-doc__wrapper .note.important:after {
  left: 0.75em;
  width: 1.2777777778em;
  background-image: url("images/fa-icons/exclamation-circle-solid.svg");
}
.admonitionblock.tip,
.pvof-doc__wrapper .warning.tip,
.pvof-doc__wrapper .tip.tip,
.pvof-doc__wrapper .important.tip,
.pvof-doc__wrapper .caution.tip,
.pvof-doc__wrapper .note.tip {
  border-left-color: #2b9af3;
  color: #002952;
  background: #e7f1fa;
}
.admonitionblock.tip:before,
.pvof-doc__wrapper .warning.tip:before,
.pvof-doc__wrapper .tip.tip:before,
.pvof-doc__wrapper .important.tip:before,
.pvof-doc__wrapper .caution.tip:before,
.pvof-doc__wrapper .note.tip:before {
  background: #2b9af3;
}
.admonitionblock.tip:after,
.pvof-doc__wrapper .warning.tip:after,
.pvof-doc__wrapper .tip.tip:after,
.pvof-doc__wrapper .important.tip:after,
.pvof-doc__wrapper .caution.tip:after,
.pvof-doc__wrapper .note.tip:after {
  left: 1.1111111111em;
  width: 0.5555555556em;
  background: url("images/fa-icons/lightbulb-solid.svg") no-repeat center center;
  -webkit-transform: translateY(0.0555555556em);
          transform: translateY(0.0555555556em);
}
.admonitionblock .content > :first-child,
.pvof-doc__wrapper .warning .content > :first-child,
.pvof-doc__wrapper .tip .content > :first-child,
.pvof-doc__wrapper .important .content > :first-child,
.pvof-doc__wrapper .caution .content > :first-child,
.pvof-doc__wrapper .note .content > :first-child {
  margin-top: 0;
}
.admonitionblock .content > :last-child,
.pvof-doc__wrapper .warning .content > :last-child,
.pvof-doc__wrapper .tip .content > :last-child,
.pvof-doc__wrapper .important .content > :last-child,
.pvof-doc__wrapper .caution .content > :last-child,
.pvof-doc__wrapper .note .content > :last-child {
  margin-bottom: 0;
}

.codeblock__wrapper {
  position: relative;
  z-index: 0;
  overflow: visible;
  border: 0.0625rem solid #d9d9d9;
  background: #f8f8f8;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.codeblock__wrapper:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 1.25rem;
  z-index: 1;
  display: block;
  width: 4.0625rem;
  background: linear-gradient(to left, #f8f8f8ff 70%, #f8f8f800);
}
.admonitionblock .codeblock__wrapper, .admonition .codeblock__wrapper {
  background: #fff;
}
.admonitionblock .codeblock__wrapper:after, .admonition .codeblock__wrapper:after {
  background: linear-gradient(to left, #ffff 70%, #fff0);
}

.codeblock__inner-wrapper {
  display: grid;
  overflow-x: auto;
  grid-template-columns: 1fr 4.375rem;
}
.codeblock__inner-wrapper:after {
  content: "";
  display: block;
  width: 4.375rem;
  min-height: 0.625rem;
}

.codeblock[class] {
  overflow: visible;
  margin: 0;
  padding-right: 0;
}
.codeblock[class][class][class][class][class] {
  max-width: 99999em;
}

.codeblock__copy {
  --pfe-clipboard--icon--Color--hover: #06c;
  position: fixed;
  top: 1rem;
  left: calc(100% - 2.75rem);
  z-index: 2;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.3125rem 0.375rem;
  background: #f0efef;
}
.codeblock__copy span {
  position: absolute;
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}
.codeblock__copy:focus {
  outline: 0.0625rem dashed currentcolor;
}
.codeblock__copy svg#icon--copy {
  width: 1rem;
  height: 1rem;
}

/**
 * These are the styles for line numbers that are highlighted/annotated
 */
.conum,
.colist > ol > li:before,
.pvof-doc__wrapper .callout {
  position: relative;
  top: -0.125em;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  border-radius: 50%;
  font-size: 0.75rem;
  line-height: 1.35rem;
  font-family: RedHatText, "Red Hat Text", "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  background: #06c;
}

.colist > ol,
.pvof-doc__wrapper .calloutlist > ol {
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
  counter-reset: colist;
}
.colist > ol > li,
.pvof-doc__wrapper .calloutlist > ol > li {
  position: relative;
  margin: 0.5rem 0;
  padding-left: 1.75rem;
  counter-increment: colist;
  font-size: 1rem;
}
.colist > ol > li .colist-num,
.pvof-doc__wrapper .calloutlist > ol > li .colist-num {
  display: none;
}
.colist > ol > li:before,
.pvof-doc__wrapper .calloutlist > ol > li:before {
  content: counter(colist);
  position: absolute;
  top: 0.1875rem;
  left: 0;
}

.pvof-doc__wrapper .calloutlist dt {
  float: left;
  clear: left;
  margin: 0;
  padding: 0 0.5rem 0 0;
}

.rhdocs__guides-list__wrapper {
  margin: 0 0 2em;
  padding: 1.5rem 1.5rem 2em;
  border-bottom: 0.0625rem solid #d2d2d2;
}
@media (min-width: 1100px) {
  .rhdocs__guides-list__wrapper {
    padding: 1.5rem 0 2em;
    border: 0;
  }
}

.rhdocs__guides-list__headline[class] {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.rhdocs__guides-list[class] {
  padding: 1rem 0 1rem;
}
.rhdocs__guides-list,
.rhdocs__guides-list ul {
  list-style: none;
}
.rhdocs__guides-list[class] ul {
  margin: 0 0 0.5rem;
  padding: 0;
}
.rhdocs__guides-list li {
  margin: 0;
  padding: 0;
}
.rhdocs__guides-list[class] a {
  display: inline-block;
  padding: 0.375rem 0;
  color: #06c;
}
.rhdocs__guides-list[class] a:hover, .rhdocs__guides-list[class] a:focus {
  text-decoration: underline;
}
.rhdocs__guides-list[class][class] code {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

.included-in-guides[class] {
  margin: 2em 0 4em;
  padding: 2rem 2rem 1rem;
  border: 0.0625rem solid #d2d2d2;
  border-radius: 0.1875rem;
  background: #fff;
}
.included-in-guides[class]:only-child {
  grid-column: 1/-1;
}
.included-in-guides[class] h1,
.included-in-guides[class] h2,
.included-in-guides[class] h3,
.included-in-guides[class] h4,
.included-in-guides[class] h5,
.included-in-guides[class] h6,
.included-in-guides[class] .heading,
.included-in-guides[class] p.title,
.included-in-guides[class] .additional-resources__heading {
  display: block;
  margin: 0 0 0.5rem;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: RedHatDisplay, "Red Hat Display", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.included-in-guides[class] ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
.related-topic-content__wrapper .included-in-guides[class] ul {
  display: block;
}
.included-in-guides[class] ul:after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}
.included-in-guides[class] li {
  box-sizing: content-box;
  margin: 0;
  padding: 1rem 1.5rem 1rem 0;
  border-bottom: 0.0625rem solid #d2d2d2;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}
.included-in-guides[class] li:only-child {
  grid-column: 1/-1;
}
.included-in-guides[class] li:last-child {
  border: 0;
}
@media (min-width: 1100px) {
  .included-in-guides[class] li:last-child {
    border-bottom: 0.0625rem solid #d2d2d2;
  }
}
.included-in-guides[class] li p:only-child {
  margin: 0;
  padding: 0;
}
.included-in-guides[class] li a {
  text-decoration: none;
}
.included-in-guides[class] li a:hover, .included-in-guides[class] li a:focus {
  text-decoration: underline;
}

.menuseq {
  display: inline-flex;
  overflow: hidden;
  text-indent: -9999em;
}
.menuseq .menu,
.menuseq .menuitem,
.menuseq .submenu {
  position: relative;
  display: block;
  text-indent: 0;
}
.menuseq .menu + .menu:before,
.menuseq .menu + .menuitem:before,
.menuseq .menu + .submenu:before,
.menuseq .menuitem + .menu:before,
.menuseq .menuitem + .menuitem:before,
.menuseq .menuitem + .submenu:before,
.menuseq .submenu + .menu:before,
.menuseq .submenu + .menuitem:before,
.menuseq .submenu + .submenu:before {
  content: ">";
  display: inline-block;
  padding: 0 0.25em;
  font-weight: bold;
}

.rhdocs__print-button {
  position: relative;
  margin: 0;
  padding: 0 0 0 1.375rem;
  border: 0;
  color: #06c;
  background: url("images/fa-icons/print-solid.svg") no-repeat left center;
  background-size: 1rem auto;
  -webkit-appearance: none;
          appearance: none;
}
.rhdocs__print-button:hover, .rhdocs__print-button:focus {
  color: #036;
  text-decoration: underline;
}
@supports ((-webkit-mask-image: url("images/fa-icons/print-solid.svg")) or (mask-image: url("images/fa-icons/print-solid.svg"))) {
  .rhdocs__print-button {
    background: none;
  }
  .rhdocs__print-button:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 1rem;
    background: currentcolor;
    -webkit-mask: url("images/fa-icons/print-solid.svg") no-repeat center center;
            mask: url("images/fa-icons/print-solid.svg") no-repeat center center;
    -webkit-mask-size: 100% auto;
            mask-size: 100% auto;
  }
}
@media print {
  .rhdocs__print-button {
    display: none;
  }
}

.related-topic-content__wrapper {
  margin: 2em 0;
}

.related-topic-content__wrapper--for-guide {
  position: relative;
  z-index: 1;
  margin-bottom: -2.5rem;
  padding-bottom: 0.0625rem;
}
.related-topic-content__wrapper--for-guide:before {
  content: "";
  position: absolute;
  top: 0;
  right: -4.5rem;
  left: -3rem;
  z-index: -1;
  display: block;
  width: auto;
  height: 100%;
  background: #f0f0f0;
}
@media (min-width: 1100px) {
  .related-topic-content__wrapper--for-guide:before {
    right: -3.625rem;
    left: -2.5rem;
  }
}
.related-topic-content__wrapper--for-guide summary {
  padding: 1em 2em 1em 2.1875rem;
}

@media (min-width: 950px) {
  .related-topic-content__inner-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
  }
}

.rhdocs__section-list__wrapper {
  margin: 0 0 2em;
  padding: 0 1.5rem 2em;
  border-bottom: 0.0625rem solid #d2d2d2;
}
@media (min-width: 1100px) {
  .toolbar-fixed .rhdocs__section-list__wrapper {
    top: 3.125rem;
    max-height: calc(100vh - 3.125rem);
  }
}
@media (min-width: 1100px) {
  .rhdocs__section-list__wrapper .tool-bar-tray-open {
    top: 5.625rem;
  }
}
@media (min-width: 1100px) {
  .rhdocs__section-list__wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: 100vh;
    margin: -2.5rem 0 0;
    padding: 2.5rem 0 0;
    border: 0;
  }
}

.rhdocs__section-list__headline[class] {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.rhdocs__section-list__jump-headline {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
}

.rhdocs__section-list {
  visibility: hidden;
  opacity: 0;
  -webkit-animation: fade-in 0.25s 2.5s 1 forwards;
          animation: fade-in 0.25s 2.5s 1 forwards;
}
:host .rhdocs__section-list {
  -webkit-animation: fade-in 0.25s 0s 1 forwards;
          animation: fade-in 0.25s 0s 1 forwards;
}
.rhdocs__section-list[class] {
  padding: 1rem 0 1rem;
}
.rhdocs__section-list,
.rhdocs__section-list ul {
  list-style: none;
}
.rhdocs__section-list[class] ul {
  margin: 0 0 0.5rem;
  padding: 0;
}
.rhdocs__section-list li {
  margin: 0;
  padding: 0;
}
.rhdocs__section-list li li {
  padding: 0 0 0 0.5rem;
}
.rhdocs__section-list[class] a {
  display: inline-block;
  padding: 0.375rem 0;
}
.rhdocs__section-list[class][class] code {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

.rhdocs__section-list--has-scrollspy[class] {
  padding-left: 0.9375rem;
}
.rhdocs__section-list--has-scrollspy[class] ul {
  margin: 0;
  padding: 0;
}
.rhdocs__section-list--has-scrollspy[class] li {
  padding-left: 0;
}
.rhdocs__section-list--has-scrollspy[class] a {
  margin-left: -0.9375rem;
  padding-left: 0.9375rem;
  color: #6a6e73;
  box-shadow: inset 0.125rem 0 0 0 #d2d2d2;
}
.rhdocs__section-list--has-scrollspy[class] a.is-active {
  color: #151515;
  box-shadow: inset 0.125rem 0 0 0 #e00;
}
.rhdocs__section-list--has-scrollspy[class] li li:last-child > a {
  padding-bottom: 0.875rem;
}
.rhdocs__section-list--has-scrollspy[class] li li a {
  padding-left: 1.875rem;
}
.rhdocs__section-list--has-scrollspy[class] li li li a {
  padding-left: 2.8125rem;
}
.rhdocs__section-list--has-scrollspy[class] li li li li a {
  padding-left: 3.75rem;
}

.local-render .rhdocs-content {
  margin: 0 auto;
}

cp-documentation {
  display: block;
  padding-bottom: 2.5rem;
}
cp-documentation.PFElement, cp-documentation[pfelement] {
  padding: 0;
}

rh-table {
  display: block;
}

/**
 * Scrollbar theming
 */
:host .rhdocs *::-webkit-scrollbar,
.pvof-doc__wrapper *::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}
:host .rhdocs *::-webkit-scrollbar,
:host .rhdocs *::-webkit-scrollbar-track,
.pvof-doc__wrapper *::-webkit-scrollbar,
.pvof-doc__wrapper *::-webkit-scrollbar-track {
  background-color: #d6d6d6;
}
:host .rhdocs *::-webkit-scrollbar-thumb,
.pvof-doc__wrapper *::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
}
:host .rhdocs *,
.pvof-doc__wrapper * {
  scrollbar-color: #8e8e8e #d6d6d6;
}

.rhdocs p:empty,
.pvof-doc__wrapper p:empty {
  display: none;
}
.rhdocs[class] h1 code,
.rhdocs[class] h2 code,
.rhdocs[class] h3 code,
.rhdocs[class] h4 code,
.rhdocs[class] h5 code,
.rhdocs[class] h6 code,
.pvof-doc__wrapper[class] h1 code,
.pvof-doc__wrapper[class] h2 code,
.pvof-doc__wrapper[class] h3 code,
.pvof-doc__wrapper[class] h4 code,
.pvof-doc__wrapper[class] h5 code,
.pvof-doc__wrapper[class] h6 code {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

.rhdocs__header__primary-wrapper h1,
.pvof-doc__wrapper .pane-page-title h1 {
  font-size: 2.25rem;
  line-height: 1.333;
  font-family: RedHatDisplay, "Red Hat Display", "Helvetica Neue", Arial, sans-serif;
}

.rhdocs-details[class] {
  margin: 1rem 0 3rem;
  padding: 0;
  list-style: none;
}

.rhdocs-toc[class] {
  margin: 1rem 0 2rem;
  padding: 1rem;
  background: #f2f2f2;
}
.rhdocs-toc[class] > *:last-child {
  margin-bottom: 0;
}
.rhdocs-toc[class] .rhdocs-toctitle {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.6667;
  font-weight: normal;
  text-transform: none;
}
.rhdocs-toc[class] li {
  margin-bottom: 0.25em;
  padding-left: 0.5em;
}

.preamble {
  margin: 0 0 2rem;
}

.sect1 {
  margin: 2rem 0 1rem;
}
:host .sect1, cp-documentation .sect1 {
  margin: 0 0 2rem;
  padding: 0.0625rem 0 0;
}
:host(.cp-documentation--has-external-header) .sect1:first-child > h2:first-child,
:host(.cp-documentation--has-external-header) .sect1:first-child > h3:first-child {
  margin-top: 0;
}

.literalblock,
.listingblock {
  margin: 1rem 0;
}

.verseblock,
.quoteblock {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 0.25rem solid #d2d2d2;
}
.verseblock.pullleft,
.quoteblock.pullleft {
  float: left;
  width: 25rem;
  margin-right: 3rem;
}
@media (min-width: 768px) {
  .verseblock.pullleft,
.quoteblock.pullleft {
    margin-left: -1rem;
  }
}
.verseblock.pullright,
.quoteblock.pullright {
  float: right;
  width: 25rem;
  margin-left: 3rem;
}
@media (min-width: 768) {
  .verseblock.pullright,
.quoteblock.pullright {
    margin-right: -2rem;
  }
}
@media (min-width: 1100px) {
  .verseblock.pullright,
.quoteblock.pullright {
    margin-right: -10rem;
  }
}
.verseblock > :first-child,
.quoteblock > :first-child {
  margin-top: 0;
}
.verseblock .content,
.quoteblock .content {
  font-size: 1.25rem;
  line-height: 1.6667;
  font-family: RedHatText, "Red Hat Text", "Helvetica Neue", Arial, sans-serif;
}
.verseblock .attribution,
.quoteblock .attribution {
  font-size: 0.875rem;
  line-height: 1.6667;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}
.verseblock .attribution .citetitle,
.quoteblock .attribution .citetitle {
  color: #585858;
}
.verseblock .attribution cite,
.quoteblock .attribution cite {
  font-size: 1em;
}

.quoteblock blockquote {
  margin: 0;
  padding: 0;
  font-style: italic;
}
.quoteblock blockquote .content > :first-child {
  margin-top: 0;
}
.quoteblock blockquote .content > :first-child:before {
  content: "“";
  display: block;
  float: left;
  margin-right: 0.5rem;
  font-size: 2.75rem;
  line-height: 1.125em;
  color: #e00;
  font-style: normal;
}
.quoteblock blockquote .content > :first-child .content > :first-child:before {
  content: none;
}

.imageblock {
  margin: 1rem 0;
}
.imageblock.pullleft {
  float: left;
  width: 25rem;
  margin-right: 3rem;
}
@media (min-width: 768px) {
  .imageblock.pullleft {
    margin-left: -1rem;
  }
}
.imageblock.pullright {
  float: right;
  width: 25rem;
  margin-left: 3rem;
}
@media (min-width: 768) {
  .imageblock.pullright {
    margin-right: -2rem;
  }
}
@media (min-width: 1100px) {
  .imageblock.pullright {
    margin-right: -10rem;
  }
}
.imageblock.interrupter {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .imageblock.interrupter {
    margin-right: -2rem;
    margin-left: -1rem;
  }
  .imageblock.interrupter .caption {
    margin-right: 2rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1100px) {
  .imageblock.interrupter {
    margin-right: -10rem;
  }
  .imageblock.interrupter .caption {
    margin-right: 10rem;
  }
}
.imageblock.interrupter img {
  max-width: 100%;
}
.imageblock .caption {
  display: block;
  margin: 0.5rem 0 0;
  font-size: 0.875rem;
  line-height: 1.6667;
  color: #585858;
}

.rhdocs-footnotes {
  margin: 3rem 0 1rem;
  padding: 1rem 0 0;
  border-top: 0.0625rem solid #d2d2d2;
}
.rhdocs-footnotes > ol {
  margin: 0;
  padding: 0 0 0 1.5rem;
}
@supports (counter-reset: footnotenum) {
  .rhdocs-footnotes > ol {
    padding: 0;
    list-style: none;
    counter-reset: footnotenum;
  }
  .rhdocs-footnotes > ol > li {
    counter-increment: footnotenum;
  }
  .rhdocs-footnotes > ol > li::before {
    content: "[" counter(footnotenum) "]";
    display: inline-block;
    margin-right: 0.25rem;
    color: #585858;
  }
}

.rhdocs-footer {
  margin: 3rem 0 0;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.6667;
  color: #252525;
  background: #ededed;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.stretch {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  border: 0;
}

.rh-docs-legal-notice {
  margin-top: 4em;
}

/* stylelint-disable */
/* stylelint-enable */
code[class*=language-],
pre[class*=language-] {
  color: #151515;
  -o-tab-size: 4;
     tab-size: 4;
}

code.language-none, code.language-text, code.language-txt,
pre.language-none,
pre.language-text,
pre.language-txt {
  color: #151515;
}

code[class*=language-]::selection,
pre[class*=language-]::selection,
code[class*=language-] ::selection,
pre[class*=language-] ::selection {
  color: #263238;
  background: #cceae7;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.2em;
  white-space: normal;
}

pre[class*=language-] {
  position: relative;
  overflow: auto;
  margin: 0.5em 0;
  padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: #b300b3;
}

[class*=language-] .namespace {
  opacity: 0.7;
}

.token.atrule {
  color: #40199a;
}
.token.attr-name {
  color: #06c;
}
.token.attr-value {
  color: #b300b3;
}
.token.attribute {
  color: #b300b3;
}
.token.boolean {
  color: #40199a;
}
.token.builtin {
  color: #06c;
}
.token.cdata {
  color: #06c;
}
.token.char {
  color: #06c;
}
.token.class {
  color: #06c;
}
.token.class-name {
  color: #06c;
}
.token.comment {
  color: #6a6e73;
}
.token.constant {
  color: #40199a;
}
.token.deleted {
  color: #c9190b;
}
.token.doctype {
  color: #6a6e73;
}
.token.entity {
  color: #c9190b;
}
.token.function {
  color: #40199a;
}
.token.hexcode {
  color: #b300b3;
}
.token.id {
  color: #40199a;
  font-weight: bold;
}
.token.important {
  color: #40199a;
  font-weight: bold;
}
.token.inserted {
  color: #06c;
}
.token.keyword {
  color: #40199a;
}
.token.number {
  color: #b300b3;
}
.token.operator {
  color: #06c;
}
.token.prolog {
  color: #6a6e73;
}
.token.property {
  color: #06c;
}
.token.pseudo-class {
  color: #b300b3;
}
.token.pseudo-element {
  color: #b300b3;
}
.token.punctuation {
  color: #06c;
}
.token.regex {
  color: #06c;
}
.token.selector {
  color: #c9190b;
}
.token.string {
  color: #b300b3;
}
.token.symbol {
  color: #40199a;
}
.token.tag {
  color: #c9190b;
}
.token.unit {
  color: #b300b3;
}
.token.url {
  color: #c9190b;
}
.token.variable {
  color: #c9190b;
}

.rhdocs.local-render {
  max-width: 45.8125rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (min-width: 1100px) {
  .rh-docs__content-wrapper {
    display: flex;
  }
}

.rh-docs__sidebar {
  position: relative;
  z-index: 2;
  padding: 1rem 0 0;
  background: #fff;
}
.rhdocs__header--assembly ~ .rh-docs__content-wrapper .rh-docs__sidebar:after {
  top: -1.5rem;
}
@media (min-width: 1100px) {
  .rh-docs__sidebar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 0;
    border-right: 0.125rem solid #d2d2d2;
  }
}
@media (min-width: 1100px) {
  .rh-docs__sidebar {
    flex-basis: 30%;
    flex-grow: 1;
    width: 30%;
    min-width: 15.2777777778em;
    max-width: 19.4444444444em;
    padding-right: 1.875rem;
    padding-left: 1.5rem;
  }
  :host .rh-docs__sidebar {
    padding-left: 0;
  }
}

@media (min-width: 1100px) {
  .rh-docs__sidebar ~ .rh-docs__content,
.rh-docs__sidebar ~ cp-documentation {
    flex-basis: 70%;
  }
}
@media (min-width: 1100px) {
  .rh-docs__content,
cp-documentation {
    flex-grow: 1;
  }
}

.rh-docs__content {
  padding: 0 1.5rem;
}

@media print {
  pre,
code[class*=language-],
pre[class*=language-],
.field code,
.field pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
  }
}