%div{:id=>@id, :class=>['admonitionblock', ((attr? 'icons') ? 'has-icon' : nil), (attr :name), role]}
  %strong{:class=>"title icon-title"}=@caption
  .content
    - if title?
      %strong.title=title
    =content
