@use 'sass:math';

cp-documentation, // No JS
.rhdocs,          // No JS
:host .rhdocs {
  // Selector for mounted component wrapper
  padding: 0 24px;
}

.rhdocs-content {
  // Desired width + padding converted into em
  max-width: (math.div((686px + 24px), $font-size--base) * 1em);
  padding-right: 24px;
  padding-bottom: 40px;
}

cp-documentation {
  display: block;
  padding-bottom: 40px;

  &.PFElement,
  &[pfelement] {
    padding: 0;
  }
}

/**
 * Scrollbar theming
 */
:host .rhdocs {
  $scrollbar-size: (math.div(10, 16) * 1rem);
  $scrollbar-track-color: #d6d6d6;
  $scrollbar-control-color: #8e8e8e;

  // Webkit && Chrome
  *::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
  }
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $scrollbar-control-color;
  }

  // Firefox & Future standard
  * {
    // scrollbar-width: auto; // Doesn't accept values >:(
    scrollbar-color: $scrollbar-control-color $scrollbar-track-color;
  }
}

.rhdocs {
  p {
    &:empty {
      display: none;
    }
  }

  &[class] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      code {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        color: inherit;
        background: transparent;
      }
    }
  }

  // @note these styles are for Pantheon 1.0
  .has-toc.toc-left & {
    @include breakpoint(lima) {
      display: grid;
      grid-template-areas:
        'toc header'
        'toc main'
        'toc footer';
      grid-template-rows: auto;
      grid-template-columns: 14rem auto;
      grid-column-gap: 2rem;
      align-items: start;
      padding: 0;

      .rhdocs-header {
        grid-area: header;
        max-width: 65em;
        padding: 2rem 2rem 0 0;
      }

      .rhdocs-content {
        grid-area: main;
        max-width: 65em;
        padding: 0 2rem 0 0;
      }

      .rhdocs-footer {
        grid-area: footer;
        max-width: 65em;
        padding: 0 0 2rem;
      }

      .rhdocs-toc {
        grid-area: toc;
        margin: 0;
      }
    }

    @include breakpoint(papa) {
      grid-template-columns: 20rem auto;
    }
  }
}

.rhdocs-details[class] {
  margin: 16px 0 48px;
  padding: 0;
  list-style: none;
}

.rhdocs__header {
  margin: 0 0 24px;
  padding: 2.5rem 24px 1px; // Bottom margin is so margin is kept inside this wrapper
  font-size: 14px;
  line-height: #{math.div(17px, 14px)};
  // Design calls for box-shadow, but that causes issues
  // Using gradient instead
  background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 8%));
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 3px;

  :host & {
    margin-right: -24px;
    margin-left: -24px;
  }

  :host(.cp-documentation--has-external-header) &,
  .rhdocs__header ~ .rh-docs__content-wrapper & {
    display: none;
  }

  h1 {
    margin: 0 0 4px;
    padding: 0;
    font-size: 31.5px;
    line-height: math.div(34px, 28px);
    color: #151515;
    font-weight: 500;
  }

  &[class] code {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    background: transparent;
  }

  @include breakpoint(papa) {
    display: flex;
    justify-content: space-between;
  }
}

.rhdocs__header--assembly {
  position: relative;
  z-index: 0;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    transform: translateX(-50%);
  }
}

.rhdocs__header__primary-wrapper {
  max-width: 950px;
  margin-bottom: 24px;

  @include breakpoint(papa) {
    flex-grow: 1;
  }
}

.rhdocs__header__secondary-wrapper[class] {
  margin: 0 0 24px;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    margin-bottom: #{math.div(4px, 14px) * 1em};
    padding: 0;
    font-size: inherit;
    line-height: inherit;

    @include breakpoint(papa) {
      margin-bottom: #{math.div(8px, 14px) * 1em};
    }
  }

  @include breakpoint(papa) {
    min-width: 150px;
    margin-left: 2em;
  }
}

.rhdocs-content-type {
  margin-bottom: 8px;
  color: #6a6e73;
}

.rhdocs-products {
  font-size: 16px;
  line-height: #{math.div(19px, 16px)}; // Getting unitless line-height

  &[class] {
    margin: 0 0 16px;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    + li {
      // @todo Create JS behavior from mockups: https://marvelapp.com/prototype/1iiaai96/screen/64745307
      &:before {
        content: ', ';
        display: inline-block;
        padding-right: 0.25em;
      }
    }
  }

  @include breakpoint(papa) {
    margin-bottom: 0;
  }
}

// .rhdocs-product-name {}

// .rhdocs-product-version {}

.rhdocs-author-details {
  display: inline-block;
  margin: 0;
  color: $color--text--subtle;

  dt,
  dd {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  dd {
    &::before {
      content: '(';
      display: inline-block;
    }

    &::after {
      content: ')';
      display: inline-block;
    }
  }
}

.rhdocs-revisions {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color--text--subtle;

  li {
    display: inline-block;

    &:not(:last-child)::after {
      content: ', ';
      display: inline-block;
    }
  }

  .rhdocs-author-details + & {
    &::before {
      content: '—';
      display: inline-block;
      margin: 0 0.125rem;
    }
  }
}

.rhdocs-revnumber {
  text-transform: capitalize;
}

// TOC
.rhdocs-toc[class] {
  margin: 1rem 0 2rem;
  padding: 1rem;
  background: #f2f2f2;

  > *:last-child {
    margin-bottom: 0;
  }

  .rhdocs-toctitle {
    margin-top: 0;
    font-size: $heading--toc;
    line-height: $line-height--base;
    font-weight: normal;
    text-transform: $heading--toc--transform;
  }

  // ol {}

  li {
    margin-bottom: 0.25em;
    padding-left: 0.5em;
  }
}

// Preamble
.preamble {
  margin: 0 0 2rem;
  // font-size: $font-size--lead;
  // line-height: $line-height--base;

  // .sidebarblock,
  // .admonitionblock {
  //   font-size: 1rem;
  // }
}

// Sections
.sect1 {
  margin: 2rem 0 1rem; // @todo deprecate style

  :host &,
  cp-documentation & {
    margin: 0 0 2rem;
    padding: 1px 0 0; // Makes sure top margin doesn't collapse
  }

  :host(.cp-documentation--has-external-header) &:first-child {
    > h2,
    > h3 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.pantheon-anchor-div {
  position: relative;
  top: -70px;

  .toolbar-fixed & {
    top: -50px;
  }

  .tool-bar-tray-open {
    top: -90px;
  }

  @include breakpoint(lima) {
    top: -10px;
  }
}

.conum,
.colist > ol > li:before {
  position: relative;
  top: -0.125em;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  border-radius: 50%;
  font-family: $font-family--base;
  font-size: 0.75rem;
  line-height: 1.35rem; // For some reason, with Overpass, this looks better.
  color: #fff;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  background: $color--link;
}

.colist {
  > ol {
    margin: 1rem 0 2rem;
    padding: 0;
    list-style: none;
    counter-reset: colist;

    > li {
      margin: 0.5rem 0;
      padding-left: 2rem;
      counter-increment: colist;
      font-size: 1rem;

      .colist-num {
        display: none;
      }

      &:before {
        content: counter(colist);
        left: -1em;
      }
    }
  }
}

.literalblock,
.listingblock {
  margin: 1rem 0;
}

// Verse Blocks
.verseblock,
.quoteblock {
  @include pullleft;
  @include pullright;

  margin: 1rem 0;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 4px solid $color--border;

  > :first-child {
    margin-top: 0;
  }

  .content {
    font-family: $font-family--base;
    font-size: $font-size--lead;
    line-height: $line-height--base;
  }

  .attribution {
    font-size: $font-size--sm;
    line-height: $line-height--base;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;

    .citetitle {
      color: $color--text--subtle;
    }

    cite {
      font-size: 1em;
    }
  }
}

.quoteblock {
  blockquote {
    margin: 0;
    padding: 0;
    font-style: italic;

    .content {
      > :first-child {
        margin-top: 0;

        &:before {
          content: '“';
          display: block;
          float: left;
          margin-right: 0.5rem;
          font-size: 2.75rem;
          line-height: 1.125em;
          color: $color--brand-primary;
          font-style: normal;
        }

        .content > :first-child:before {
          content: none;
        }
      }
    }
  }
}

// Image Blocks & Figures
.imageblock {
  @include pullleft;
  @include pullright;
  @include interrupter;

  margin: 1rem 0;

  .caption {
    display: block;
    margin: 0.5rem 0 0;
    font-size: $font-size--sm;
    line-height: $line-height--base;
    color: $color--text--subtle;
  }
}

// Footnotes & Footer
.rhdocs-footnotes {
  margin: 3rem 0 1rem;
  padding: 1rem 0 0;
  border-top: 1px solid $color--border;

  > ol {
    margin: 0;
    padding: 0 0 0 1.5rem;

    @supports (counter-reset: footnotenum) {
      padding: 0;
      list-style: none;
      counter-reset: footnotenum;

      > li {
        counter-increment: footnotenum;

        &::before {
          content: '[' counter(footnotenum) ']';
          display: inline-block;
          margin-right: 0.25rem;
          color: $color--text--subtle;
        }
      }
    }
  }
}

.rhdocs-footer {
  margin: 3rem 0 0;
  padding: 1rem;
  font-size: $font-size--sm;
  line-height: $line-height--base;
  color: $color--text--footer;
  background: $color--bg--footer;
}

// Utility Classes from Asciidoctor
.center {
  margin-right: auto;
  margin-left: auto;
}

.stretch {
  width: 100%;
}

// Utility Classes
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.rh-docs-legal-notice {
  margin-top: 4em;
}
