@use 'sass:math';

.rhdocs-content {
  // Desired width + padding converted, into em
  max-width: (math.div((686px + 24px), $font-size--base) * 1em);
  padding-right: 24px;
  padding-bottom: 40px;

  .local-render & {
    margin: 0 auto;
  }
}

cp-documentation {
  display: block;
  padding-bottom: 40px;

  &.PFElement,
  &[pfelement] {
    padding: 0;
  }
}

// These styles may not be necessary when we have the web component
rh-table {
  display: block;

  // Center the table without effecting table layout (which being a flex-item seems to do)
  table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/**
 * Scrollbar theming
 */
:host .rhdocs {
  $scrollbar-size: (math.div(10, 16) * 1rem);
  $scrollbar-track-color: #d6d6d6;
  $scrollbar-control-color: #8e8e8e;

  // Webkit && Chrome
  *::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
  }
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-track {
    background-color: $scrollbar-track-color;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $scrollbar-control-color;
  }

  // Firefox & Future standard
  * {
    // scrollbar-width: auto; // Doesn't accept values >:(
    scrollbar-color: $scrollbar-control-color $scrollbar-track-color;
  }
}

.rhdocs {
  p {
    &:empty {
      display: none;
    }
  }

  &[class] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      code {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        color: inherit;
        background: transparent;
      }
    }
  }
}

.rhdocs__header__primary-wrapper {
  h1 {
    font-size: 36px;
    line-height: 1.333;
    font-family: $font-family--title;
  }
}

.rhdocs-details[class] {
  margin: 16px 0 48px;
  padding: 0;
  list-style: none;
}

// TOC
.rhdocs-toc[class] {
  margin: 1rem 0 2rem;
  padding: 1rem;
  background: #f2f2f2;

  > *:last-child {
    margin-bottom: 0;
  }

  .rhdocs-toctitle {
    margin-top: 0;
    font-size: $heading--toc;
    line-height: $line-height--base;
    font-weight: normal;
    text-transform: $heading--toc--transform;
  }

  // ol {}

  li {
    margin-bottom: 0.25em;
    padding-left: 0.5em;
  }
}

// Preamble
.preamble {
  margin: 0 0 2rem;
  // font-size: $font-size--lead;
  // line-height: $line-height--base;

  // .sidebarblock,
  // .admonitionblock {
  //   font-size: 1rem;
  // }
}

// Sections
.sect1 {
  margin: 2rem 0 1rem; // @todo deprecate style

  :host &,
  cp-documentation & {
    margin: 0 0 2rem;
    padding: 1px 0 0; // Makes sure top margin doesn't collapse
  }

  :host(.cp-documentation--has-external-header) &:first-child {
    > h2,
    > h3 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.pantheon-anchor-div {
  position: relative;
  top: -70px;

  .toolbar-fixed & {
    top: -50px;
  }

  .tool-bar-tray-open {
    top: -90px;
  }

  @include breakpoint(lima) {
    top: -10px;
  }
}

.conum,
.colist > ol > li:before {
  position: relative;
  top: -0.125em;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  border-radius: 50%;
  font-family: $font-family--base;
  font-size: 0.75rem;
  line-height: 1.35rem; // For some reason, with Overpass, this looks better.
  color: #fff;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  background: $color--link;
}

.colist {
  > ol {
    margin: 1rem 0 2rem;
    padding: 0;
    list-style: none;
    counter-reset: colist;

    > li {
      position: relative;
      margin: 0.5rem 0;
      padding-left: 1.75rem;
      counter-increment: colist;
      font-size: 1rem;

      .colist-num {
        display: none;
      }

      &:before {
        content: counter(colist);
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
}

.literalblock,
.listingblock {
  margin: 1rem 0;
}

// Verse Blocks
.verseblock,
.quoteblock {
  @include pullleft;
  @include pullright;

  margin: 1rem 0;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 4px solid $color--border;

  > :first-child {
    margin-top: 0;
  }

  .content {
    font-family: $font-family--base;
    font-size: $font-size--lead;
    line-height: $line-height--base;
  }

  .attribution {
    font-size: $font-size--sm;
    line-height: $line-height--base;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;

    .citetitle {
      color: $color--text--subtle;
    }

    cite {
      font-size: 1em;
    }
  }
}

.quoteblock {
  blockquote {
    margin: 0;
    padding: 0;
    font-style: italic;

    .content {
      > :first-child {
        margin-top: 0;

        &:before {
          content: '“';
          display: block;
          float: left;
          margin-right: 0.5rem;
          font-size: 2.75rem;
          line-height: 1.125em;
          color: $color--brand-primary;
          font-style: normal;
        }

        .content > :first-child:before {
          content: none;
        }
      }
    }
  }
}

// Image Blocks & Figures
.imageblock {
  @include pullleft;
  @include pullright;
  @include interrupter;

  margin: 1rem 0;

  .caption {
    display: block;
    margin: 0.5rem 0 0;
    font-size: $font-size--sm;
    line-height: $line-height--base;
    color: $color--text--subtle;
  }
}

// Footnotes & Footer
.rhdocs-footnotes {
  margin: 3rem 0 1rem;
  padding: 1rem 0 0;
  border-top: 1px solid $color--border;

  > ol {
    margin: 0;
    padding: 0 0 0 1.5rem;

    @supports (counter-reset: footnotenum) {
      padding: 0;
      list-style: none;
      counter-reset: footnotenum;

      > li {
        counter-increment: footnotenum;

        &::before {
          content: '[' counter(footnotenum) ']';
          display: inline-block;
          margin-right: 0.25rem;
          color: $color--text--subtle;
        }
      }
    }
  }
}

.rhdocs-footer {
  margin: 3rem 0 0;
  padding: 1rem;
  font-size: $font-size--sm;
  line-height: $line-height--base;
  color: $color--text--footer;
  background: $color--bg--footer;
}

// Utility Classes from Asciidoctor
.center {
  margin-right: auto;
  margin-left: auto;
}

.stretch {
  width: 100%;
}

// Utility Classes
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.rh-docs-legal-notice {
  margin-top: 4em;
}
